* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.caja {
	width: 700px;
	height: 90px;
	margin-bottom: 2px;
	background: black;
	color: white;
	font-family: arial;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

nav {
	height: 40px;
}
a {
	text-decoration: none;
	color: black; 
	margin: 0 5px;

}

.izquierda { 
	background: darkgray;
	display: flex;
	justify-content: flex-start;
	align-items: center;
 }


.centro {
	background: darkgray;
	display: flex;
	justify-content: center;
	align-items: center;
}

.derecha {
	background: darkgray;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.between {
	background: darkgray;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.around {
	background: darkgray;
	display: flex;
	justify-content: space-around;
	align-items: center;
}