section{
    width: 80%;
    margin: auto;
    background: #ffffff;
}
.link{
    text-decoration: none;
}
.Item-main{
    width: 95%;
    margin: 16px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eeeeee;
}

.Item-pic{
    width: 180px;
    height: 180px;
    margin: 16px;
}
.Item-pic img{
    width: 100%;
    border-radius: 4px;
}
.Item-data{
    width: 500px;
    text-align: left;
}

.price{
    font-size: 24px;
    color: #333333;
    padding-bottom: 32px;
    margin: 0;
}
.title{
    font-size: 18px;
    color: #333333;
    margin: 0;
}
.state{
    font-size: 12px;
    color: #333333;
}