#encabezado{
	padding-left: 120px;
	font-family: cambria;
	font-size: 25px;
}
a{
	font-size: 14px;
	font-family: arial;
}
.bloque1{
	font-size: 14px;
	font-family: arial;
	color: #000000;
}

#fecha{
	font-size: 13px;
	font-family: arial;
	color: #A4A4A4;
}

#texto{
	text-align: justify;
}
.capital {
	font-size: 4em;
}