* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url(../imgs/fondo.jpg);
	font-family: arial;
}

.container {
	margin: 0 auto;
	width: 70%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
}
/******************** HEADER ****************/
header {
	width: 100%;
	background: #fff;
	opacity: 0.7;
	padding: 50px 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

}

.nav a {
	text-decoration: none;
	color: #000;
	font-size: 18px;
	margin-right: 30px;
}
/******************** MAIN ****************/

.main {
	background: #acd5b6;
	width: 70%;
	padding: 20px;
	display: flex;
	flex-direction: row;
}

.banner img {
	width: 100%;
	margin-bottom: 10px;
}

h1 {
	margin-bottom: 10px;
}

.main p {
	margin-bottom: 10px;
	text-align: justify;
}

aside {
	width: 30%;
	padding: 20px;
	background: gray;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
}

.caja {
	padding: 80px 0;
	text-align: center;
	border: 5px solid black;


	/****************** FOOTER *********************/
} 
footer {
	width: 100%;
	background: #fff;
	opacity: 0.7;
	padding: 30px 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.social a {
	color: #000;
}

@media (max-width: 700px) {
	.container {
		flex-direction: column;
		align-content: center;
	}
	.nav {
		display: flex;
		flex-direction: column;
	}
	.main {
		width: 100%;
	}
	aside {
		width: 100%;
	}
	.caja {
		margin: 10px;
	}
}