*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 90%;
	margin: auto;
}
#container{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	margin: 10px auto;
	padding: 10px;
	background-color: #fcf0e8;;
}
#izq{
	width: 29%;
	background-color: #eee;
}
#der{
	width: 69%;
	padding: 0 auto;
	background-color: #eee;
}
.caja{
	border: 2px solid #F9D2B8; 
	display: flex;
	flex-direction: column;
	align-items: center;
}
#fotoPerfil img{
	width: 250px;
	height: 250px;
	margin: 10px;
}
#infoPersonal{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#infoPersonal h1 {
	color: #E3AB88;
	font-size: 20px;
}
#infoPersonal h2{
	font-size: 14px;
}
#infoPersonal h1, h2, p{
	margin: 5px auto;
}
#amigos{
	width: 95%;
	text-align: center;
	margin: auto;
}
#amigos img{
	width: 120px;
	height: 120px;
	margin: 2px;
}
#muro{
	display: flex;
	flex-direction: row;
	margin: 10px;
}
.thumb{
	width: 80px;
	height: 80px;
}
li{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 10px auto;
}
#estado{
}