*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{
	height: 100px;
	background: #ffffff;
	text-align: center;
}

header h1{
	margin-top: 15px;
	font-size: 30px;
}
.products-row{
	display: flex;
	justify-content: space-around;
}
.product{
	width: 20%;
}
.precio{
	font-weight: bold;
}
footer{
	height: 100px;
	background: #ffffff;
	text-align: center;
}