* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.bloque1 {
  width: 800px;
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  margin: auto;
}
.bloque1 .peru {
  background-color: peru;
  width: 48%;
  height: 200px;
  padding: 10px;
}
.bloque1 .peru:hover {
  background-color: plum;
}
.bloque1 .yellow {
  background-color: peru;
  width: 48%;
  height: 200px;
  padding: 10px;
  background-color: yellow;
}
.bloque1 .yellow:hover {
  background-color: plum;
}
.bloque1 .yellow:hover {
  background-color: palegreen;
}
.bloque2 {
  width: 800px;
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  margin: auto;
}
.bloque2 .peru {
  background-color: peru;
  width: 48%;
  height: 200px;
  padding: 10px;
}
.bloque2 .peru:hover {
  background-color: plum;
}
.bloque2 .yellow {
  background-color: peru;
  width: 48%;
  height: 200px;
  padding: 10px;
  background-color: yellow;
}
.bloque2 .yellow:hover {
  background-color: plum;
}
.bloque2 .yellow:hover {
  background-color: palegreen;
}
.bloque2 .uno {
  background-color: orange;
  width: 48%;
  height: 200px;
}
.bloque2 .uno:hover {
  background-color: plum;
}
.bloque2 .dos {
  background-color: orange;
  width: 48%;
  height: 200px;
  background-color: pink;
}
.bloque2 .dos:hover {
  background-color: plum;
}
.bloque2 .dos:hover {
  background-color: palegreen;
}
.bloque3 {
  width: 800px;
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  margin: auto;
}
.bloque3 .peru {
  background-color: peru;
  width: 48%;
  height: 200px;
  padding: 10px;
}
.bloque3 .peru:hover {
  background-color: plum;
}
.bloque3 .yellow {
  background-color: peru;
  width: 48%;
  height: 200px;
  padding: 10px;
  background-color: yellow;
}
.bloque3 .yellow:hover {
  background-color: plum;
}
.bloque3 .yellow:hover {
  background-color: palegreen;
}
.bloque3 .texto {
  background-color: tomato;
  margin: 10px;
}
.bloque3 .texto:hover {
  background-color: red;
}
.bloque3 .texto p {
  padding: 10px;
}
/********** @ **********/
@media (max-width: 480px) {
  .bloque1,
  .bloque2,
  .bloque3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
