* {
	box-sizing: border-box;
	text-align: center;
}

#container {
	margin-top: 5%;
	margin-left: 40%;
	padding-top: 2%;
	width: 320px;
	height: 500px;
	border: 2px solid darkgray;
	font-family: arial;
}

figure {
	position: relative;
}


.perfil {
	border: 5px solid darkgray;
	webkit-border-radius: 50%;
	border-radius: 50%;
}

.bandera {
	width: 35px;
	height: 35px;
	position: absolute;
	top: 125px;
	right: 50px;
	webkit-border-radius: 75%;
	border-radius: 75%;
	border: 5px solid darkgray;

}
.info {
	padding: 0 auto;

}
.nombre {
	color: #FE642E;
	font-size: 30px;
}
.puesto {
	font-size: 18px;
	font-weight: bold; 
}
.descripcion {
	padding: 3px;
	margin-left: 5px;
	margin-right: 5px;

}
.social a {
	padding: 15px;
	padding-left: 15px;
	text-decoration: none;
}
