extends layout

block content
  #contError
    nav
      #breadcrumb
          a(href='/') HOME
          span >
          a(href='/movies/1') ALL MOVIES
      #title
          h1 CineFan
  #mainError
    div
      h1 Oops! Something went wrong.
