extends layout

block content
    #genreCont
        h1=title
        #filterMain
            for filtro in filter
                figure.moviefig
                    img(src="../images/"+filtro.poster)
                    figcaption.movietitle= filtro.movietitle
                    a(href='../movies/'+filtro.id) Ver mas