extends layout

block content
    nav
        #breadcrumb
            a(href='/') HOME
            span >
            a(href='/movies/1') ALL MOVIES
            span >
            p=title2
        #title
            h1=title
    #filterCont
        #filterMain
            for filtro in filter
                figure.moviefig
                    img(src="../images/"+filtro.poster)
                    figcaption.movietitle= filtro.movietitle
                    a.fakebtn(href='../movies/m/'+filtro.id) View more