extends layout

block content
    nav
        #breadcrumb
            a(href='/') HOME
            span >
            p SEARCH
        #title
            h1=title
    #searchMain
        for buscar in dataMovie
            figure.moviefig
                img(src="../images/"+buscar.poster)
                figcaption.movietitle= buscar.movietitle
                a(href='/movies/m/'+buscar.id)
                    button.view-more View More