extends layout

block content
    h1=title
    #searchMain
        for search in dataMovie
            figure.moviefig
                img(src="../images/"+search.poster)
                figcaption.movietitle= search.movietitle
                a(href='../movies/m/'+search.id) View More