* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 95%;
	margin: auto;
	padding: 15px;
}
header {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #000;
	margin-bottom: 5px;
	padding: 10px;
}
.breadcrumb ul li {
	list-style: none;
	color: #fff;
	display: inline;
}
.breadcrumb ul li a {
	text-decoration: none;
	font-weight: bold;
	color: darkgray;
}

.container {
	display: flex;
	flex-direction: column;
	align-content: space-between;
}
.catalogo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px 20px;
}
.poster {
	width: 250px;
	height: 300px;
	background: #E8E4E4;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: space-around;
}
.catalogo img {
	width: 50%;
	margin: 15px 0px;
}