extends layout

block content
  #contenedor
    #main
      #boton
        input#btnAdd(type='button' value='+')
      .post
        img(src='images/uploads/rainy.jpg')
        div(class='btnLike')
          p
            i.far.fa-heart
        .post-body
          h5
            span(clas='like-count') 0
            |  me gusta
          p.post-text Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    #modal.invisible
      #modal-contenido
        #modal-header
          h2 Nuevo Post
        #modal-body
          form#uploadForm(ref='uploadForm' action='http://localhost:3000/upload' method='post' enctype='multipart/form-data')
            .form-group
              label(for='image') Imagen 
              input(type='file' name='sampleFile')
            .form-group
              label(for='text') Texto 
              input#text.form-control(name='text' type='text')
            .form-group
              input.btnSubmit(type='submit' value='Submit')
