*{ 
	margin: 5px;
	box-sizing: border-box;
	text-align: center;
	}

h1{
	color: #FFFFFF;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}


header{
	height: 7em;
	text-align: center;
	background: #000000;
	padding: auto;
}

header img {
	width: 100px;
	height: 100px;
	margin: auto;
}

#perrouno {
	float: left;
	display: inline-block;
}

#perrodos {
	float: right;
	display: inline-block;
}

a{
	color: white;
	text-decoration: none;
}
nav ul{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: auto;
	padding-right: auto;
}

nav ul li {
	background: #000000;
	padding: 5px;
	font-family: arial;
	margin: 2%;
	list-style-type: none;
	display: inline-block;
}

.rosa article {
    margin: 0 auto;
	background: #FA5858;
	width: 49%;
	height: 400px;
	display: inline-block;
	text-align: center;
}

.azul{
	
	background: #2E64FE;
	height: 140px;
}

#perroazul {
	float: right;
    margin: auto;
}

.verde article{
	margin: 0 auto;
	background: #31B404;
	width: 33%;
	height: 400px;
	display: inline-block;
	text-align: center;
}

footer{
	background: #FFFF00;
	height: 7em;
	padding: auto;
}

#gmaps {
	float: left;
	margin: auto;
}

@media all and (max-width: 480px) {
	h1 {
		margin: 10px;
	}

	header #perrodos {
		display: none;
	}

	nav {
		text-align: right;
		position: fixed;
		top: 20%;
		right: 0;
	}

	nav ul li {
		display: block;
		margin: 0;
	}

	section {
		margin: 10px;
	}

	.rosa article {
		width: 100%;
		display: block;
	}

	.verde {
		display: none;
	}

	.azul #perroazul{
		display: none;
	}

	footer {}
}