extends layout

block content
  h1= title
  form(action="/user" method="post")
    div
        label Nombre: 
        input#nombre.obligatorio(type='text')
        label.error
    div
        label Apellido: 
        input#apellido.obligatorio(type='text')
        label.error
    div
        label Telefono: 
        input#telefono.obligatorio(type='text')
        label.error
    div
        label Email: 
        input#email.obligatorio(type='text')
        label.error
    div
        input.btnSubmit(type='submit' value='Submit')