*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 70%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#contenedor{
    background-color: #faf3e9;
}
nav{
    height: 50px;
    background-color: #594a3e;
    margin: 0 auto;
    padding: 10px 10px;
}
h1{
    margin-left: 9%;
    color: #fff;
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.comments{
    width: 80%;
    margin: 10px auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9c3a9;
}
li{
    list-style: none;
}
.nombre{
    color: #594a3e;
}
.email{
    color: #8c7765;
}