*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#formulario{
    width: 25%;
    height: 250px;
    margin: 30px auto;
    font-family: roboto;
    background-color: #f7dfd2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div{
    margin-top: 5px;
}